

<ion-content>
  <div class="container">

    <h2>DIDACTICAPP DURANGO</h2>
    <img class='pertsonaia' id="p1" src='../../assets/img/1. IRUDIA.png'>
    <img class='pertsonaia' id="p2" src='../../assets/img/3. IRUDIA.png'>

    <div id="kontrolak">
      <button id="errepikatuButton" (click)="hasiHasiera()">🔃Errepikatu</button>
      <button id="pauseStartButton" (click)="pauseStart()">⏵︎⏸︎</button>
      <button id="skipButton" (click)="skip()">skip -></button>
      <a (click)="home()" id="homeButton"><button>HASI</button>  </a>
    </div>
    
    <div id="hasiBotoiaDiv">
      <a herf="" (click)="hasiHasiera()" id="hasiBotoia"><img src="../../assets/img/hasi.png"></a>
      <h4>Eman botoiari jokoa hasteko!</h4>
    </div>
    
  </div>
</ion-content>
