.container{
    background-color: aquamarine;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .pertsonaia{
        width: 250px;
        position: absolute;
        top: 10%;
    }
   

    button{
        padding: 15px;
        margin: 15px;
        //position: absolute;
        //bottom: 10%;
    }

    #kontrolak{
        margin-top: 50vh;
    }

    #hasiBotoiaDiv{
        text-align: center;
        position: absolute;
        bottom: 10%;
        img{
            
            width: 100px;
        }
    }
}