<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Anboto</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
  <div class="animation-container" style="text-align: center">
    <img class="animation-item" src="../../assets/img/1. IRUDIA.png" (click)="stopAnimationLeire()"/>
    <img class="animation-item1" src="../../assets/img/2. IRUDIA.png" (click)="stopAnimation_MikelatsAtarrabir()"/>
  </div>
  <div id="amaieraTextua">
  <h2>Marik Mikelats eta Atarrabi bilatu ditu!!!!</h2>
    <a href="/hasiera"><button>Berriz hasi jokoa</button></a>
  </div>
</ion-content>