mat-form-field{
    width: 100%;
    color: black !important;
    
}
.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input{
    margin-top: 50px;
}
mat-label{
   font-size: 12px;
}


   

  

