#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.map-container {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
}
 
.map-frame {
  border: 1px solid rgb(167, 167, 167);
  height: 100%;
  z-index: 0;
}
 
#map {
  height: 100%;
  z-index: 0;
}

#centerButton{
  position: absolute;
  z-index: 100;
  left: 85%;
  top: 1%;
  height: 30px;
  border: 1px solid rgb(88, 88, 88);
  background-color: rgb(167, 167, 167);
}