<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>
<ion-content [fullscreen]="true">
  
  <div class="map-container">
    <div class="map-frame">
      <button id="centerButton" (click)="jokalariarenPosizioraJoan();">Marirena Itzuli</button>
      <div id="hurrengoPausoa">
        <p>Hurrengo Gunea:</p>
        <h3 id="hurrengoPausoaTxt"></h3>
        <img id="hurrengoPausoaImg" src="{{hurrengoGuneImg}}">
      </div>
      <div id="map"></div>
    </div>
  </div>

</ion-content>
