<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>
<ion-content [fullscreen]="true">
  
  <div class="map-container">
    <div class="map-frame">
      <button id="centerButton" (click)="jokalariarenPosizioraJoan();">Marirena Itzuli</button>
      <div id="map"></div>
    </div>
  </div>
  <div id="popupContainer">
    <img class='pertsonaiak' src='../../assets/img/2. IRUDIA.png'>
    <audio id="mariAurkezepenAudio"src="../../assets/audio/MARIREN AURKEZPENA.m4a" controls="controls"  preload="none" ></audio>
    

    <img class='pertsonaiak' src='../../assets/img/3. IRUDIA.png'>
    <audio id="mariAurkezepenAudio"src="../../assets/audio/M_A SELFIE.m4a" controls="controls"  preload="none" ></audio>
    <p>Aurkitu gaitzazu!</p>

  </div>
</ion-content>
