<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hitz ezkutua</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="text-align: center">
    <img src="../../assets/img/hitz-ezkutua/_alfabeto_berria.png" alt="your image" />
  </div>
  <br>
  <div style="text-align: center;">
    <div>
      <img id="a" src="../../assets/img/hitz-ezkutua/a_letra.png" alt="image a" width="40" height="30"/>
      <img id="n" src="../../assets/img/hitz-ezkutua/n_letra.png" alt="image n" width="40" height="30"/>
      <img id="b" src="../../assets/img/hitz-ezkutua/b_letra.png" alt="image b" width="40" height="30"/>
      <img id="o" src="../../assets/img/hitz-ezkutua/o_letra.png" alt="image o" width="40" height="30"/>
      <img id="t" src="../../assets/img/hitz-ezkutua/t_letra.png" alt="image t" width="40" height="30"/>
      <img id="o" src="../../assets/img/hitz-ezkutua/o_letra.png" alt="image o" width="40" height="30"/>
      <img id="k" src="../../assets/img/hitz-ezkutua/k_letra.png" alt="image k" width="40" height="30"/>
      <img id="o" src="../../assets/img/hitz-ezkutua/o_letra.png" alt="image o" width="40" height="30"/>
    </div>
    <div>
      <img id="m" src="../../assets/img/hitz-ezkutua/m_letra.png" alt="image m" width="40" height="30"/>
      <img id="a" src="../../assets/img/hitz-ezkutua/a_letra.png" alt="image a" width="40" height="30"/>
      <img id="r" src="../../assets/img/hitz-ezkutua/r_letra.png" alt="image r" width="40" height="30"/>
      <img id="i" src="../../assets/img/hitz-ezkutua/i_letra.png" alt="image i" width="40" height="30"/>
      <img id="r" src="../../assets/img/hitz-ezkutua/r_letra.png" alt="image r" width="40" height="30"/>
      <img id="e" src="../../assets/img/hitz-ezkutua/e_letra.png" alt="image e" width="40" height="30"/>
      <img id="n" src="../../assets/img/hitz-ezkutua/n_letra.png" alt="image n" width="40" height="30"/>
    </div>
    <div>
      <img id="k" src="../../assets/img/hitz-ezkutua/k_letra.png" alt="image k" width="40" height="30"/>
      <img id="o" src="../../assets/img/hitz-ezkutua/o_letra.png" alt="image o" width="40" height="30"/>
      <img id="n" src="../../assets/img/hitz-ezkutua/n_letra.png" alt="image n" width="40" height="30"/>
      <img id="d" src="../../assets/img/hitz-ezkutua/d_letra.png" alt="image d" width="40" height="30"/>
      <img id="a" src="../../assets/img/hitz-ezkutua/a_letra.png" alt="image a" width="40" height="30"/>
      <img id="i" src="../../assets/img/hitz-ezkutua/i_letra.png" alt="image i" width="40" height="30"/>
      <img id="r" src="../../assets/img/hitz-ezkutua/r_letra.png" alt="image r" width="40" height="30"/>
      <img id="a" src="../../assets/img/hitz-ezkutua/a_letra.png" alt="image a" width="40" height="30"/>
    </div>
  </div>
  
  <br>
  <p>Hitz eskutua:</p>
  <ion-input type="text" [(ngModel)]="message" placeholder="Sartu hemen hitz-ezkutua"></ion-input>
  <br>
  <div style="display: flex; justify-content: center;">
    <ion-button (click)="submitMessage()">Konprobatu!</ion-button>
  </div>
</ion-content>