<ion-content [fullscreen]="true">
  <div id="puzzleKkutxa" class="row">
     <div>
       <img id="0" src="../../assets/img/puzzlea/0.png" alt="" (click)="seleccionar(0)">
       <img id="1" src="../../assets/img/puzzlea/1.png" alt="" (click)="seleccionar(1)">
       <img id="2" src="../../assets/img/puzzlea/2.png" alt="" (click)="seleccionar(2)">
     </div>
 
     <div>
       <img id="3" src="../../assets/img/puzzlea/3.png" alt="" (click)="seleccionar(3)">
       <img id="4" src="../../assets/img/puzzlea/4.png" alt="" (click)="seleccionar(4)">
       <img id="5" src="../../assets/img/puzzlea/5.png" alt="" (click)="seleccionar(5)">
       </div>
       <div>
         <img id="6" src="../../assets/img/puzzlea/6.png" alt="" (click)="seleccionar(6)">
         <img id="7" src="../../assets/img/puzzlea/7.png" alt="" (click)="seleccionar(7)">
         <img id="8" src="../../assets/img/puzzlea/8.png" alt="" (click)="seleccionar(8)">
       </div>
     </div> 
 </ion-content>
 