<ion-header>  
  <ion-toolbar>  
    <ion-title>{{title}}</ion-title>  
    <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>  
  </ion-toolbar>  
</ion-header>  
  
<ion-content>  

  <p *ngFor="let azalpen of azalpena">{{azalpen}}</p>
  <audio controls autoplay>
    <source src="../../assets/audio/{{audioa}}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  <a href="{{title}}"><ion-button>JOLASTU</ion-button></a>
</ion-content>