<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hizki Sopa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hizki-sopa</ion-title>
    </ion-toolbar>
  </ion-header>

    <div id="main" role="main">
      <div id="puzzle"></div>
      <ul id="words">
        <li><button id="add-word"></button></li>
      </ul>
      <fieldset id="controls">
        <p id="result-message"></p>
        <!--<button id="solve">Solve Puzzle</button>-->
      </fieldset>
    </div>
    <div class="modal" id="congratsModal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Zorionak!</h2>
        <p>Hitz guztiak bilatu dituzu!</p>
        <button id="mapaButton" type="button" (click)="hurrengoJokoa()" class="btn btn-primary">Mapara Itzuli</button>
      </div>
    </div>
</ion-content>