
<ion-content [fullscreen]="true">
  <h1>Nun daude Mikelatz eta Atarrabi ? </h1>
  <div id="total">
<div id="lab1"></div>
<div id="lab2"></div>
<div id="lab3"></div>
<div id="lab4"></div>
<div id="lab5"></div>
<div id="lab6"></div>
<div id="lab7"></div>
<div id="lab8"></div>
<div id="lab9"></div>
<div id="lab10"></div>
<div id="lab11"></div>
<div id="lab12"></div>
<div id="lab13"></div>
<div id="lab14"></div>
<div id="lab15"></div>
<div id="lab16"></div>
<div id="lab17"></div>
<div id="lab18"></div>
<div id="lab19"></div>

<div id="vlab1"></div>
<div id="vlab2"></div>
<div id="vlab3"></div>
<div id="vlab4"></div>
<div id="vlab5"></div>
<div id="vlab6"></div>
<div id="vlab7"></div>
<div id="vlab8"></div>
<div id="vlab9"></div>
<div id="vlab10"></div>
<div id="vlab11"></div>
<div id="vlab12"></div>
<div id="vlab13"></div>
<div id="vlab14"></div>

<img id="img1" src="../../assets/img/1. IRUDIA.png"/>
<img id="img2" src="../../assets/img/9. IRUDIA.png" />
<img id="img3" src="../../assets/img/6. IRUDIA.png" />
<img id="img4" src="../../assets/img/7. IRUDIA.png" />
<img id="img5" src="../../assets/img/8. IRUDIA.png" />
<img id="img6" src="../../assets/img/10. IRUDIA.png" />

 </div>
  <button id="boton1" ><strong>&lArr;</strong></button>
  <button id="boton2"><strong>&rArr;</strong></button>	
  <button id="boton3">&dArr;</button>
  <button id="boton4">&uArr;</button>
  <button id="boton5"></button>
 <div id="irteeraDiv">
  <h3>Laberintoa pasatu duzu!</h3>
  <button (click)="irten()">Itzuli mapara</button>
 </div>
  </ion-content>


